.example-spacer {
    flex: 1 1 auto;
  }

  .nav {
    background-color: red;
    position: absolute;
    width: 90%;
    top: 0px;
  }

  .menu-icon {
    color: #fff;
  }

  .log-out {

    text-decoration: none;
    color: #fff;
  }

  .name{
    text-align: center; 
    color: white;
    position: relative;
    left: 20%;
  }