<div mat-dialog-title class="modal-title">
  <h1>{{managersHeading}} {{selectedManager}}</h1>
</div>

<div mat-dialog-content class="content">

  <h2>{{none}}</h2>
<div>
 <table>
    <thead>
      <tr>
        <th>Employee Number</th>
        <th>Title</th>
        <th>fullName</th>
        <th>IsActive</th>
      </tr>
    </thead>
    <tbody>
      <tr class="employees" *ngFor="let employee of managedEmployees">
        <td>{{employee.employeeNumber}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.fullName}}</td>
        <td>{{employee.isActive}}</td>
      </tr>
    </tbody>
  </table>
</div>
 
</div>