<div class="employees-container">
    <h2>{{managersHeading}} {{selectedManager}}</h2>
<h1>{{newId}}</h1>
    <!-- <h3>{{none}}</h3>
    
    <table class="employees" *ngFor="let employee of managedEmployees">
      <thead>
        <tr>
          <th>Employee Number</th>
          <th>Title</th>
          <th>fullName</th>
          <th>IsActive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{employee.employeeNumber}}</td>
          <td>{{employee.title}}</td>
          <td>{{employee.fullName}}</td>
          <td>{{employee.isActive}}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
  